/*
  @tailwind base;

  @tailwind components;

  @tailwind utilities;
*/

/**
 * vuepress全局样式
 */
 
/*
  .theme-container {
  min-width: 1200px;

  .vuepress-theme-find, .page-nav, .page-edit {
    max-width: initial;
  }

  &.page-contribution .vuepress-theme-find {
    max-width: 960px;
  }

  .vuepress-theme-find {
    &.is-mobile {
      padding-right: 420px;
      min-height: 680px;
    }

    .block-demo + .language-vue, .block-demo + .language-js, .block-demo + .language-html {
      height: 0;
      overflow: hidden;
    }
  }
}
*/

