@font-face {
  font-family: 'font-zqdnhs';
  font-display: swap;
  src: url('../font/zqdnhs/zqdnhs.TTF') format('truetype');
}

.font-zqdnhs {
  font-family: font-zqdnhs;
}

@font-face {
  font-family: 'font-BreatheFireIii-PKLOB';
  font-display: swap;
  src: url('../font/BreatheFireIii-PKLOB/BreatheFireIii-PKLOB.ttf')
    format('truetype');
}

.font-BreatheFireIii-PKLOB {
  font-family: font-BreatheFireIii-PKLOB;
}

@font-face {
  font-family: 'font-OzCaramel';
  font-display: swap;
  src: url('../font/OzCaramel/OzCaramel.ttf') format('truetype');
}

.font-OzCaramel {
  font-family: font-OzCaramel;
}
